<div class="asset-listing">

	 <div v-if="loading" class="loading">
        <span class="icon icon-circular-graph animation-spin"></span> Loading..
    </div>

	<div v-if="!loading" class="actions">
		<div class="action-controls">
			<button @click="createFolder" class="btn">
				Create New Folder
			</button>
		</div>
	</div>

	<div v-if="!loading && (hasParent || hasItems)">
		<div class="asset-listing table">
			<table>
				<thead>
					<tr>
						 <th class="column-checkbox"></th>
						 <th>
						 	Title
						 </th>
						 <th>
						 	Filename
						 </th>
						 <th>
						 	File size
						 </th>
						 <th>
							Date Modified
						 </th>
					</tr>
				</thead>
				<tbody>
					<tr v-if="hasParent">
						<td></td>
						<td>
							<a href="" @click.prevent="goToFolder(folder.parent_path)">
								<img :src="resource_url('img/fieldtypes/folder.png')" class="folder">
								Parent Folder
							</a>
						</td>
						<td colspan='3'></td>
					</tr>
					<tr v-for="folder in folders">
						<td></td>
						<td>
							<a href="" @click.prevent="goToFolder(folder.path)">
								<img :src="resource_url('img/fieldtypes/folder.png')" class="folder">
								{{ folder.title }}
							</a>
						</td>
						<td>
							<strong>...</strong>
						</td>
						<td>
							<strong>...</strong>
						</td>
						<td>
							<strong>...</strong>
						</td>
					</tr>
					<tr v-for="asset in assets">
						<td></td>
						<td>
							{{ asset.title }}
						</td>
						<td>
							{{ asset.basename }}
						</td>
						<td>
							{{ asset.human_size }}
						</td>
						<td>
							{{ asset.last_modified }}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<assets-folder-editor v-if="showFolderEditor"
		:show.sync="showFolderEditor"
		:container="container"
		:path="path"
		:create.sync="creatingFolder"
	>
	</assets-folder-editor>
</div>
