<div class="asset-listing">


	 <input type="file" multiple="multiple" class="system-file-upload hide" v-if="allowActions">

	 <div v-if="loading" class="loading">
        <span class="icon icon-circular-graph animation-spin"></span> Loading..
    </div>

	<div v-if="!loading && allowActions" class="actions">
		<div class="action-controls">
			<button @click="createFolder" class="btn">
				Create New Folder
			</button>
		</div>
	</div>

	<div class="asset-listing table asset-listing-uploads" v-if="assetQueue.length">
		<table>
			<thead>
				<tr>
					<th class="column-checkbox"></th>
					<th colspan="2">Upload</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="asset in assetQueue">
					<td class="column-checkbox">
						<span class="icon icon-circular-graph animation-spin"></span>
					</td>
					<td class="column-filename">
						{{ asset.basename }}
					</td>
					<td class="column-progress">
						<div class="progress">
							<div class="progress-bar" :style="{ width: asset.percent + '%'	 }"></div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div v-if="!loading && (hasParent || hasItems)">
		<div class="asset-listing table">
			<table>
				<thead>
					<tr>
						 <th class="column-checkbox"></th>
						 <th>
						 	Title
						 </th>
						 <th>
						 	Filename
						 </th>
						 <th>
						 	File size
						 </th>
						 <th>
							Date Modified
						 </th>
						 <th>

						 </th>
					</tr>
				</thead>
				<tbody>
					<tr v-if="hasParent">
						<td></td>
						<td>
							<a href="" @click.prevent="goToFolder(folder.parent_path)">
								<img :src="resource_url('img/fieldtypes/folder.png')" class="folder">
								Parent Folder
							</a>
						</td>
						<td colspan='3'></td>
					</tr>
					<tr v-for="folder in folders">
						<td></td>
						<td>
							<a href="" @click.prevent="goToFolder(folder.path)">
								<img :src="resource_url('img/fieldtypes/folder.png')" class="folder">
								{{ folder.title }}
							</a>
						</td>
						<td>
							<strong>...</strong>
						</td>
						<td>
							<strong>...</strong>
						</td>
						<td>
							<strong>...</strong>
						</td>
						<td class="column-actions">
							<partial name="actions-folder"></partial>
						</td>
					</tr>
					<tr v-for="asset in assets">
						<td></td>
						<td>
							<span class="asset" @click="selectAsset(asset)">
								<img :src="fileIcon(asset.extension)" class="file">
								{{ asset.title }}
							</span>

						</td>
						<td>
							{{ asset.basename }}
						</td>
						<td>
							{{ asset.human_size }}
						</td>
						<td>
							{{ asset.last_modified }}
						</td>
						<td class="column-actions">
							<partial name="actions-asset"></partial>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<assets-folder-editor v-if="showFolderEditor"
		:show.sync="showFolderEditor"
		:container="container"
		:path="folderModalPath"
		:create.sync="creatingFolder"
	>
	</assets-folder-editor>
</div>
