body{
	transition: all 0.5s ease;
	background:#f5f5f1;
}

a{
	text-decoration:none;
	&:hover,
	&:focus,
	&:active{
		color:#167ac6;
		text-decoration:none;
	}
}

body.nav-visible{
	padding-left:220px;
}

.row{
	margin:0;
}


.Main{
	.Box{
		width:100% !important;
	}
}

.Sidebar__right{
	.Box{
		width:100% !important;
	}
}

[v-cloak] { display: none; }

.z-depth-0 { box-shadow: none !important; }
.z-depth-1 { box-shadow: 0 2px 3px rgba(0, 0, 0, 0.24);}
.z-depth-2 { box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 14px 0 rgba(0, 0, 0, 0.2); }
.z-depth-3 { box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); } // Not deep enough
.z-depth-4 { box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); } // Really not deep enough
