body{
	transition: all 0.5s ease;
	background:#f5f5f1;
}

body.nav-visible{
	padding-left:220px;
}

.row{
	margin:0;
}


.Main{
	.Box{
		width:100% !important;
	}
}

.Sidebar__right{
	.Box{
		width:100% !important;
	}
}
