.inline_block_list{
	dd{
		display:inline-block;
	}
	dt{
		display:inline-block;
	}
	li{
		display:inline-block;
	}
}


.primary-link{
	color:#337ab7;
	font-weight: 700;
	&:hover,
	&:active,
	&:focus{
		color: #08C;
    	text-decoration: none;
	}
}
