.footer_auxiliary{
	margin-top:15px;
	border-top: 1px solid #D0D8DB;
	padding:15px 0 15px 0;
	font-size: 14px;
	display: flex;
	justify-content: space-between;
    box-sizing: border-box;
    background-color: #FFF;
}

.footer_auxiliary-content{
	color:#8A9599;
}
