.user_portraits{
	img{
		border-radius:100%;
	}
}

.user_bio{
	color: #acb1b4;
	margin-top:25px;
	font-size:15px;
	line-height:1.35;
}

.user_meta{
	color: #acb1b4;
    font-size: 18px;
}

.block{
	header > h1{
		margin:0;
		margin-bottom: 5px;
		font-size:36px;
	}

	header > h2{
		margin:0;
		margin-bottom: 5px;
		font-size:28px;
	}
}

.user-tags{
	li{

	}
}
